.buttonplay {
  border-color: yellowgreen !important;
}
.buttonstop {
  border-color: red !important;
}

.button:hover {
  background-color: lightgray !important;
}

.svg {
  width: 15rem;
  height: 15rem;
  margin: -1rem -1rem;
}

.play {
  fill: yellowgreen;
}

.stop {
  fill: red;
}
